.container {
    margin-top: 20px;
  }
  
  .jumbotron {
    text-align: center;
  }
  
  .homepage-image {
    width: 100%;
    height: auto;
    max-width: 500px;
    display: block;
    margin: 0 auto;
  }
  